
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wpkixx.com/html/pitnik/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 28 Feb 2022 09:36:26 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <title>Pitnik Social Network Toolkit</title>
    <link rel="icon" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/images/fav.png" type="image/png" sizes="16x16">

    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/main.min.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/weather-icon.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/style.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/color.css">
    <link rel="stylesheet" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/css/responsive.css">

</head>
<body>
    <div class="www-layout">
        <section>
            <div class="gap no-gap signin whitish medium-opacity">
                <div class="bg-image" style="background-image: url(https://tinder.com/static/build/5921afb1c3e6673d31a79697175df491.webp) "></div>
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4">
                            <div class="we-login-register">
                                <div class="form-title">
                                    <i class="fa fa-key"></i>login
                                    <span>sign in now and meet the awesome Friends around the world.</span>
                                </div>
                                <form action="~/Boarding/Login" method="post" enctype="multipart/form-data" class="justify-content-center we-form text-center">
                                    <input type="text" name="mail" placeholder="E-mail">
                                    <input type="password" name="password" placeholder="Password">
                                    <input type="checkbox"><label>remember me</label>
                                    <button type="submit" data-ripple="">sign in</button>
                                    <p class="bg-white text-danger">@ViewBag.message</p>
                                    <a class="forgot underline" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/# " title="">forgot password?</a>
                                </form>
                                <a class="with-smedia facebook" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/#" title="" data-ripple=""><i class="fa fa-facebook"></i></a>
                                <a class="with-smedia twitter" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/#" title="" data-ripple=""><i class="fa fa-twitter"></i></a>
                                <a class="with-smedia instagram" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/#" title="" data-ripple=""><i class="fa fa-instagram"></i></a>
                                <a class="with-smedia google" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/#" title="" data-ripple=""><i class="fa fa-google-plus"></i></a>
                                <span>don't have an account? <a class="we-account underline" href="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/#" title="">register now</a></span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

    </div>

    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/main.min.js"></script>
    <script src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/js/script.js"></script>
</body>


</html>