
@{
    Layout = null;
}

<div class="bottombar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="copyright">© FriendFinder 2020. All rights reserved.</span>
                <i><img src="~/frfindercom/sayfalar/wpkixx.com/html/pitnik/images/credit-cards.png" alt=""></i>
            </div>
        </div>
    </div>
</div>